.product-table-container{
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 370px;
    border: 1px solid green;
    margin-top: 10px;
        
    
}

.products-form{
    background-color:darkseagreen;
    width: 0 auto;
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
    
    
}