.product-category-row-container{
    border: 2px solid turquoise;
    text-align: left;
    font-weight: bold;
    padding-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;


}